* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  background: #dcdcf7;
  color: #1e06f1;
   font-family: "UnifrakturMaguntia", "Old English Text MT", serif;
  overflow: hidden; /* evita barra de rolagem por causa do elemento quicando */
}

#bouncer {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 80px;
  font-family: "UnifrakturMaguntia", "Old English Text MT", serif;
  color: #1e06f1;
  text-shadow: 0 0 10px rgba(0, 38, 255, 0.6);
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.btn-novo {
  background: #1e06f1;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}

.grid-livros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 30px 30px;
}

.card-livro {
  position: relative;
  background: #f7f1f1;
  border: 2px solid #1e06f1;
  border-radius: 10px;
  overflow: hidden;
}

.card-livro img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
}

.btn-excluir, .btn-favorito {
  position: absolute;
  top: 8px;
  background: rgba(0,0,0,0.6);
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 2;
}

.btn-excluir { left: 8px; }
.btn-favorito { right: 8px; color: #e63946; }

.info {
  padding: 10px;
}

.nota {
  font-size: 0.85em;
  color: #ffd60a;
}

.info h3 {
  font-size: 1em;
  margin: 4px 0;
}

.info p {
  font-size: 0.8em;
  color: #aaa;
}